
/*Lang*/
@font-face {
    font-family: 'Montserrat Reg';
    src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: 'Montserrat Bold';
    src: url(../fonts/Montserrat-Bold.ttf);
}
/*PRE SET*/
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Montserrat Reg', sans-serif;
    font-size: 16px;
}
.content {
    padding: 0 calc((100% - 1200px)/2);
}
/*Header*/
.construct_box {
    background-color: #f5f7fa;
}
.construct_wrapp {
    display: flex;
    margin-top: 124px;
    border-top: 1px solid #e1e4eb;
    align-items: center;
}
.title_steps {
    display: flex;
    align-items: center;
    margin: 20px 0 20px 0;
}
.steps_wrap {
    width: 100%;
}
.title_steps h3 {
    margin: 0 130px 0 0;
}
.title_steps{
    margin-top: 53px;
}
.tabs__caption {
    width: calc(100% - 500px);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    position: relative;
}
.tabs__caption li {
    display: flex;
    list-style-type: none;
    width: 200px;
    height: 50px;
    background-color: #ffffff;
    color: #adafb3;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}
.tabs__caption li:not(:last-child)::after {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    color: #fff;
    background: url(../images/icon/stroke.svg);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: -25px;
    top: 20px;
}
.tabs__caption li::after:nth-child(2) {
    display: none;
}
.tabs__content {
    display: none; 
}
.tabs__content.active {
    display: block;
}
.link {
    position: relative;
}
.link:hover, :active {
   color: black;
}
.link img {
    position: absolute;
    left: -3px;
}

.construct_content {
    display: flex;
    flex-direction: column;
    margin: 30px 0 0 0;
    border-top: 1px solid #e1e4eb;
}
.tabs_wrapp {
    margin-top: 50px;
}
/*Content*/
.tabs__content h4 {
    color: #707070;
    margin-bottom: 16px;
}
.construct_first_box {
    background-color: #fff;
    display: flex;
}
.picture {
    position: relative;
    border-right: 1px solid #f5f7fa;
}
.lift {
    position: relative;
}
.left_small_box {
    position: absolute;
    display: flex;
    bottom: 45px;
    right: 0;
    font-size: 12px;
    transform: rotate(-90deg);
}
.view1 {
    margin-right: 20px;
    color: #e1e4eb;
}
.view1 img {
    transform: rotate(-90deg);
    padding: 11px;
    border: 2px solid #e1e4eb;
    border-radius: 10px;
}
.view2 img {
    transform: rotate(-90deg);
    padding: 11px;
    border: 2px solid #162133;
    border-radius: 10px;
}
.view2 {
    color: #e1e4eb;
}

.about {
    width: 100%;
    padding: 50px 40px 20px 29px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 640px;
}
.about h2 {
    font-family: 'Montserrat Bold';
    font-weight: 900;
}
.about_wrap {
    display: flex;
    flex-direction: column;
}
.about_wrap_item {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid #162133;
    border-radius: 10px;
    padding: 18px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.about_wrap_item {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    border: 2px solid #162133;
    border-radius: 10px;
    padding: 18px 20px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.about_wrap_item:hover {
    transform:translateY(2px);
}
.about_wrap_item h4 {
    margin: 0;
}
/*gray*/

.about_wrap_item .gray {
    display: block;
    border-radius: 20px;
    border: 5px solid #707070;
    width: 40px;
    height: 40px;
    margin-right: 20px;
}
.about_wrap_item .gray::before {
    display: block;
    content: "";
    width: 21px;
    height: 21px;
    border-radius: 20px;
    background-color: #707070;
    margin: 4px auto;
}
/*yellow*/
.yellow {
    display: block;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border: 5px solid yellow;
}
.yellow::before {
    display: block;
    content: "";
    width: 21px;
    height: 21px;
    border-radius: 20px;
    background-color: yellow;
    margin: 4px auto;
}
/*blue*/
.blue {
    display: block;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border: 5px solid rgb(2, 50, 206);
}
.blue::before {
    display: block;
    content: "";
    width: 21px;
    height: 21px;
    border-radius: 20px;
    background-color: rgb(2, 50, 206);
    margin: 4px auto;
}
/*metal*/
.metal {
    display: block;
    border-radius: 20px;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border: 5px solid rgb(160, 160, 160);
}
.metal::before {
    display: block;
    content: "";
    width: 21px;
    height: 21px;
    border-radius: 20px;
    background-color: rgb(160, 160, 160);
    margin: 4px auto;
}
/*price wall*/
.price_wall {
    display: flex; 
    flex-direction: column;
}
.price_btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
#nextBtn {
    padding: 18px 60px;
    border-radius: 10px;
    background-color: red;
    color: #ffffff;
    cursor: pointer;
    border: none;
    margin-top: 45px;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    font-family: 'Montserrat Bold';
}
#nextBtn:hover {
    transform:translateY(-2px);
}
#backBtn {
    padding: 18px 60px;
    border-radius: 10px;
    background-color: rgb(141, 140, 140);
    color: #ffffff;
    cursor: pointer;
    border: none;
    margin-top: 45px;
    transition: all 0.3s ease-in-out;
    font-size: 18px;
    font-family: 'Montserrat Bold';
    margin-right: 15px;
}
#backBtn:hover {
    transform:translateY(-2px);
}
    /*Footer*/